* {
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
}

body {
    padding: 0 40px;
    font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #969696;
}

.body_container {
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 4fr;
}

.nav {
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: repeat(12, 35px);
    grid-template-columns: 1fr 12fr;
    column-gap: 10px;
    background-color: #1992D3;
    padding: 20px;
    font-weight: bold;
    color: #FFFFFF;
}

.nav_head_img,
.nav_img {
    justify-self: center;
}

.nav_head {
    font-size: 1.4rem;
}

.nav_img > img {
    width: 16px;
}

.header {
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 2fr 1fr;
    background-color: #FFFFFF;
    padding: 5px 40px;
    align-items: center;
}

.searchbar {
    display: grid;
    grid-template-columns: 1fr 20fr;
    align-items: center;
}

input[type="search"] {
    appearance: none;
    height: 30px;
    width: 100%;
    border-radius: 15px;
    background-color: #E2E8F0;
    border: none;
}

.searchbar img {
    width: 16px;
}

.profile {
    display: grid;
    grid-template-columns: 30px 40px max-content;
    align-items: center;
    justify-content: end;
    column-gap: 25px;
}

.profile_name {
    font-weight: bold;
    font-size: 0.9rem;
}

.greeting {
    display: grid;
    grid-template-columns: 50px 4fr;
    column-gap: 20px;
    align-items: center;
}

.greet {
    font-size: 0.6rem;
    font-weight: bold;
}

.username {
    font-size: 1.2rem;
    font-weight: bold;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    list-style-type: none;
    column-gap: 20px;
    justify-content: end;
}

.buttons button {
    background-color: #1992D3;
    color: white;
    width: 75px;
    height: 30px;
    border: none;
    border-radius: 15px;
}

/* .avatar {
    grid-row: 1 / 3;
} */

.profile,
.buttons {
    justify-items: end;
}

.profile_av {
    width: 35px;
}

.main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    background-color: #E2E8F0;
}

.projects_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.projects_title {
    grid-column: 1 / -1;
}

.card_actions {
    display: grid;
    grid-template-columns: repeat(3, 20px);
    justify-content: end;
}

.sidebar {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.trending {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-top: 20px;
}

.trending > img {
    width: 35px;
    grid-row: span 2
}

p.card_img_a {
    content: url(./images/Codicon_Star_Empty.svg);
}

p.card_img_b {
    content: url(./images/Codicon_Eye.svg);
}

p.card_img_c {
    content: url(./images/Codicons_Forked_Icon.svg);
}
/* .nav_head,
.nav_item {
    align-self: start;
} */