* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body_container {
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 4fr;
}

.nav {
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: repeat(12, 50px);
    grid-template-columns: 1fr 12fr;
    column-gap: 20px;
    padding: 20px;
}

.header {
    display: grid;
    /* grid-template-rows: repeat(2, 1fr); */
    grid-template-rows: 50px 100px;
    grid-template-columns: 1fr;
}

.search_header {
    display: grid;
    grid-template-columns: 15fr 1fr 1fr 4fr;
}

.controls_header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.greeting {
    display: grid;
    grid-template-rows: 50px 50px;
    grid-template-columns: 1fr 4fr;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
}

.avatar {
    grid-row: 1 / 3;
}

/* .nav_head,
.nav_item {
    align-self: start;
} */